<!DOCTYPE html>
<html lang="en">
<head>
	<title>User Dashboard</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard_style.css' %}">
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script>
		$(document).ready(function() {
			// Updates database on order status change
			$(document).on('change', '.status', function() {
				$.ajax({
					url: 'ajax/status_change',
					data: {
						'newstatus': $(this).val(),
						'order_id': $(this).parent().parent().attr('id').slice(1)
					},
					dataType: 'json',
					success: function (data) {
		
					}
				});
			});
			// Allows table to be filtered by order status
			$('#status-filter').change(function() {
				$('tbody').html('').load("{% url 'dashboard:filter-orders' %}?status=" + $(this).val());		
			});
		});
	</script>
</head>
<body>
	<div id="header">
		<h2>Admin Dashboard</h2>
		<a href="/dashboard/orders">Orders</a>
		<a href="/dashboard/products">Products</a>
		<a href="/dashboard/logout" id="logout">Log off</a>
	</div>
	<div id="content">
		<div class="top-nav">
			<form method="GET" action="/dashboard/search-orders">
				<input type="text" name="search" placeholder="search">
			</form>
			<select id="status-filter">
				<option value="Show-All">Show All</option>
				<option value="Order-in-process">Order in process</option>
				<option value="Shipped">Shipped</option>
				<option value="Cancelled">Cancelled</option>
			</select>
		</div>
		<table class="table table-striped table-bordered table-sm">
			<thead>
				<tr>
					<th>Order ID</th>
					<th>Name</th>
					<th>Date</th>
					<th>Billing Address</th>
					<th>Total</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				{% include 'order_table.html' %}
			</tbody>
		</table>
	</div>
</body>
</html>